*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    font-family: 'Source Sans Pro';

    

    @include respond(tab-land) { // width > 1200?
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 42%; // 1 rem = 8px, 8/16 = 50%
    }
}

img {
    line-height: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}